---
import FormattedDate from "./FormattedDate.astro";
import MatrixEffect from "./matrix-gray.astro";

const posts = [
  {
    id: 8,
    title: "AI Generating Site UI's",
    summary: "AI Generating Site UI's",
    slug: "ai-gen-site-ui",
    tags: ["JS", "Astro", "Cloudflare", "Tailwind"],
    date: new Date("2024-10"),
  },
  {
    id: 7,
    title: "Rust static & dynamic dispatch design patterns",
    summary: "Exploration and example usage of Rust static & dynamic dispatch design patterns.",
    slug: "rust-static-dyn-dispatch",
    tags: ["Rust", "System Design"],
    date: new Date("2024-10"),
  },
  {
    id: 6,
    title: "RAG pipelines and quantization intro",
    summary: "Talk I held Live at Endava RAG pipelines and common optimization tehniques.",
    slug: "rag-conf-talk-endava",
    tags: ["RAG", "Python", "TensorFlow", "Pytorch"],
    date: new Date("2024-04"),
  },
  {
    id: 5,
    title: "Optimizing data heavy GQL search endpoints in Production",
    summary:
      "Talk I held Live at Endava that went over the challenges when developing high traffic GQL Server.",
    slug: "high-traffic-gql-server-talk-endava",
    tags: ["GraphQL", "SQL Execution plan", "Expr. Tree", "Performance"],
    date: new Date("2023-07"),
  },
  {
    id: 4,
    title: "Directory relationship GUI project in Rust",
    summary: "Rust based Directory relationship linker GUI project",
    slug: "relationship-linker-rust",
    tags: ["Rust", "Graph", "CLI"],
    date: new Date("2022-12"),
  },
  {
    id: 3,
    title: "Rate limiting API's in the Cloud",
    summary:
      "Blog post about Rate limiting API's in the Cloud, setting up paid subscription based routes and caching preflight requests.",
    slug: "rate-limiting-api-cloud",
    tags: ["Azure", "Cloud", "Rate-limiting", "Api gateway"],
    date: new Date("2022-06"),
  },
  {
    id: 2,
    title: "Generating static sites from text files - Go Hackathon",
    summary:
      "Google Hackathon project that i made and ended up in top 23 contestants among more than 1000 participants.",
    slug: "go-hackathon-txt-ssr",
    tags: ["Go", "Hackathon", "Google", "SSR"],
    date: new Date("2022-03"),
  },
  {
    id: 1,
    title: "Personal project CMS site (google sheets as backend)",
    summary: "Older personal site that showcased my personal projects",
    slug: "old-personal-site",
    tags: ["JS", "React", "vercel"],
    date: new Date("2021-01"),
  },
];
---

<section>
  <h2 class="text-3xl font-bold mb-8 border-b border-green-500 pb-2">Recent Posts</h2>
  <div>
    {
      posts.map((post, index) => (
        <>
          <div class="border border-green-500 p-6 hover:bg-gray-900 transition-colors duration-300">
            <h3 class="text-xl font-semibold mb-2">
              <a href={`/blog/${post.slug}`} class="hover:underline">
                {post.title}
              </a>
            </h3>
            <p class="text-gray-400 mb-4">{post.summary}</p>
            <div class="flex flex-wrap gap-2">
              {post.tags.map((tag) => (
                <span class="px-2 py-1 bg-green-500 text-black text-xs font-semibold rounded-none">
                  {tag}
                </span>
              ))}
            </div>
            <div class="date">
              <FormattedDate date={post.date} />
              {/* {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              } */}
            </div>
          </div>
          {index < posts.length - 1 && <MatrixEffect id={`matrix-${post.id}`} />}
        </>
      ))
    }
  </div>
</section>
